body {
  display: grid;
  grid-template-areas:
    'h'
    'g'
    'as'
    'f';
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: bisque;
  color: rgb(231, 8, 8);
  gap: 20px;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: g;
}

table {
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.score {
  font-size: 24px;
}

.timer {
  font-size: 24px;
}

.instructions {
  width: auto;
}

header {
  grid-area: h;
  text-align: center;
  font-size: 24px;
}

aside {
  display: grid;
  grid-template-areas:
    't i'
    's i';
  grid-area: as;
  align-items: center;
  justify-content: space-between;
}

footer {
  grid-area: f;
  text-align: center;
}
.last-cell {
  background-color: black;
}